@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
* {
    text-decoration: none !important;
    scroll-behavior: smooth;
}
body {
    background-color: #C2B28F !important;
}
.crsel {
    padding-top: 20px;
}
.brand-color {
    color: #E86F68;
}
.nav-color {
    background-color: #272324;
}
lines {
    border-bottom: 2px solid #476072;
}
.card-shadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #c8c3b4;
}
.card-shadow:hover {
    box-shadow: 5px 10px #a07959;
}
.tc-title {
    color: #B46D75;
    font-family: 'Mulish', sans-serif !important;
    font-weight: 900;
    letter-spacing: 5px;
}
.font-change {
    font-family: 'Mulish', sans-serif !important;
}
.btton-color {
    background-color: #C08485 !important;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 3px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px #c8c3b4;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}